/******************************** NavBar ********************************/
.navbar{
    box-shadow: 0.5px 0.5px 10px rgb(123, 122, 122);
    /* position: relative;
    z-index: 0; */
}
/* body {
  height: 2000px;
} */
.navbar-name{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    font-weight: 900;
    /* margin: 0%; */
    margin-left: 12% !important;
}
.navbar-name-segment{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    color: #3f0071;
    font-weight: 900;
    margin: 0%;
}
.name{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    color: #3f0071;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}
.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
  font-family: "Titillium Web", sans-serif;
}
.navbar .nav-link:hover {
    color: #3f0071;
    font-weight: 600;
  }
.fa-bars {
  color: #000;
  font-size: 30px;
}
.d-l-btn{
    /* position: absolute;
    z-index: 1; */
    margin: 0%;
    /* right: 0; */
}
.d-l-btn>i{
    float: right;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 50%;
}


.dark{
    background-color: #121212;
}
/******************************** Home ********************************/
#Home{
    margin: 5% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    column-gap: 20px;
}

.pro-img{
    height: 300px;
    width: 100%;
    border-radius: 50%;
}
/* .pro-img:hover{
    border: 6px solid white;
} */
.text-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 550px;
    /* row-gap: 0; */
}
.introduce{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin: 0%;
}
.name{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    color: #3f0071;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin: 0%;
}
.description-txt{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: #000;
    margin: 0;
    padding:2% 0;
}
.greet{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    color: #000;
    margin: 0;
    padding:2% 0;
}
hr{
    background-color: inherit;
    border-style: none;
    border-top-style: solid;
    border-color:#3f0071;
    border-width: 5px;
    width: 10%;
    margin: 0 45% 5% 45%;
}
.typing{
    color:#3f0071;
    font-weight: 400;
}
/*===========================  ABOUT =====================================*/
.abt-description{
    margin: 0% 10%;
}
.abt-description > p{
    font-family: 'Ubuntu',monospace;
    font-size: 25px;
    font-weight: 300;
    color: #000;
    letter-spacing: 1px;
    word-spacing: 0.5em;
}
.resume{
    display: flex;
    /* align-content: start; */
    /* align-items: start; */
    justify-content: center;
    margin: 5% 10%;
}
.res-txt{
    font-family: 'Ubuntu',sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: #000;
}
.resume>p{
    text-align: center;
}
.res-link{
    margin: 1%;
}
.res-dwnld{
    /* margin-top: 0%; */
    width: 220px;
    padding: 3%;
    font-size: 20px;
    color: #fff;
    background-color: #3f0071;
}
.res-dwnld:hover{
    border: 1px solid #3f0071;
    color: #3f0071;
}
/*===========================  EXPERIENCE =====================================*/
.cards-col{
    border-left: 6px solid #3f0071;    
    flex-direction: column ;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto;
    /* position: relative; */
}
.card-col{
    display: flex;
    flex-wrap: wrap;
    margin: 0% 0% 0% 5%;
    align-items: left;
    justify-content: left;
    width: fit-content;
    flex-direction: column;
    /* float: right; */
}
/* .test{
    border: 1px solid black;
} */
.vl{
    border-left: 6px solid green;
    height: 100vh;
    float: left ;
    position: absolute;
    z-index: -1;
    width: 2%;
}
.exp{
    /* border: 1px solid black; */
    width: max-content;
    font-family: 'IBM Plex Sans',monospace;
    color: #000;
    letter-spacing: 1px;
    word-spacing: 0.5em;
}
.exp-head1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5%;
}
.exp-head2{
    font-size: 30px;
    font-weight: 500;
}
.exp-description{
    font-family: 'IBM Plex Sans',monospace;
    font-size: 25px;
    font-weight: 400;
}
.exp-skills{
    font-family: 'IBM Plex Sans',monospace;
    font-size: 25px;
    font-weight: 300;
}
.exp-skills > span{
    font-weight: bolder;
}

/*===========================  SKILLS =====================================*/
h3{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    font-size: 48px;
    /* text-shadow: 4.5px 4.5px 4px rgb(246, 122, 21); */
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.card{
    display: flex;
    align-items: center;
    gap:20px;
    flex-direction: row;
    border: none;
}
.img-card{
    height: 120px;
    width: fit-content;
}
/*Progress bar styling*/
.percent {
    width: 300px;
}


/*===========================  PROJECTS =====================================*/
.cards1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    row-gap: 30px;
    margin: 3%;
}
.card2{
    padding: 30px;
    color: #000;
    align-items: center;
    text-align: center;
    height: 490px;
    width: 480px;
    border:4px solid #000;
    /* border-radius: 0%; */
}
.card2:hover{
    border:4px solid rgb(94, 0, 217);
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.card2>h1{
    margin: 3%;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    color: #3f0071;
    font-weight: 700;
    /* text-shadow: 2.5px 2.5px 2px rgb(77, 11, 232); */
}
.card2 li{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}
.card2 p{
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    word-spacing: 1em;
}
.project-links{
    margin: 1%;
}
.card2 span{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
    word-spacing: 0em;
}
/*=========================== FOOTER =================================*/
footer{
    padding:5%;
    display: flex;
    justify-content: center;
    background-color: #f8f1fe;
}
.cpy{
    margin-top: 15%;
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.social-icon{
    color: #000;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 50%;
}
.social-icon:hover{
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out; 
    transform: scale(1.2);
}
td:hover{
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out; 
    transform: rotate(360deg);
}

td{
    padding: 1em;
    background-color:none;
}

#Home,#about,#skills,#projects{
    margin-bottom: 10%;
}
/*=========================== RESPONSIVE =================================*/
@media screen and (max-width: 513px){
    .cards-col{
        width: fit-content;
        margin: 0 auto 5% auto;
        border-left: 3px solid #3f0071;
    }
    .vl{
        border-left: 1px solid green;
        height: 1vh;
        float: left ;
        position: absolute;
        z-index: -1;
        width: 2%;
    }
    .exp{
        /* border: 1px solid black; */
        width: max-content;
        font-family: 'IBM Plex Sans',monospace;
        color: #000;
        letter-spacing: 1px;
        word-spacing: 0.5em;
    }
    .exp-head1{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5%;
    }
    .exp-head2{
        font-size: 15px;
        font-weight: 500;
    }
    .exp-description{
        font-family: 'IBM Plex Sans',monospace;
        font-size: 12px;
        font-weight: 400;
    }
    .exp-skills{
        font-family: 'IBM Plex Sans',monospace;
        font-size: 10px;
        font-weight: 300;
    }
    .exp-skills > span{
        font-weight: bolder;
    }





    .navbar{
        height: fit-content;
    }
    .navbar .navbar-brand {
        font-size: 15px;
      }
      .navbar .nav-item {
        padding: 5px 10px;
      }
      .navbar .nav-link {
        font-size: 15px;
        margin-left: 10px;
        font-family: "Titillium Web", sans-serif;
      }
      /* .social-icon {
        color: #000;
        font-size: 15px;
        padding: 0%;
        border: none;
      } */
      .d-l-btn>i{
        padding: 10px;
      }
    .pro-img{
        height: 150px;
        width: 100%;
    }
    .text-container{
        margin: 0% 2%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .introduce{
        font-size: 30px;
    }
    .name{
        font-size: 40px;
    }
    .abt-description > p{
        letter-spacing: 0.5px;
        word-spacing: 0.2em;
    }
    .description-txt{
        font-size: 20px;
        overflow:unset;
        justify-content: flex-start;
        align-content: flex-start;
        text-align: left;
    }
    .greet{
        font-size: 30px;
    }
    h3{
        font-size: 35px;
    }
    .abt-description > p{
        font-size: 18px;
    }
    .res-txt{
        font-size: 20px;
    }
    .res-dwnld{
        width: 120px;
        padding: 2%;
        font-size: 16px;
    }
   .img-card{
        height: 80px;
        width: fit-content;
    }
    .percent {
        height: 10px;
        width: 200px;
    }
    .cards1{
        height: min-content;
    }
    .card2>h1{
        margin: 3%;
        font-size: 1.6em;
    }
    .card2 li{
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1.2em;
    }
    .card2 p{
        font-size: 1.0em;
        word-spacing: 0.5em;
    }
    td{
        padding: 0.5em;
    }
    hr{
        width: 20%;
        margin: 0 40% 10% 40%;
    }
}

/* @media screen and (max-width: 993px){
    .container{
        
    }
} */
/* @media screen and (max-width: 449px){
    .card2{

        height: 380px;
        width: 480px;
    }
}
@media screen and (max-width: 627px){
    #projects{
        margin: 0 5%;
    }
    .card2{
        height: auto;
    }
}
@media screen and (min-width: 1026px){
    #main,#skills,#projects,#about{
        margin-bottom: 170px;
    }
} */
